<section class="vh-100" style="background-color: #3da2c3;">

    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <h1 style="text-align: center; "><a routerLink="lists" class="home-a">ToDoList</a> / <a
                                class="home-a" routerLink="daily-tasks">Daily
                                Tasks</a></h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>